<header>
  <h1>node-learn-classic</h1>
  <nav>
    <a href="/">Home</a> |
    <a href="/session/simple">Session Simple</a> |
    <a href="/forms/get">GET Form</a> |
    <a href="/filesystem/list">File List</a>
  </nav>
  <hr />
</header> 