<h1>Comment</h1>
<p>In JavaScript, you can use:</p>
<ul>
  <li>// for single line comments</li>
  <li>/* */ for multi-line comments</li>
</ul>
<p>Example:</p>
<pre>
// this is single line comment
/* this is a 
   multi-line comment */
</pre> 