<h1>Variable</h1>
<p>In JavaScript, you can declare variables using:</p>
<ul>
  <li>let - for block-scoped variables</li>
  <li>const - for constants</li>
  <li>var - for function-scoped variables (older syntax)</li>
</ul>

<%
  let username = "armando";
  const email = "armando@mail.com";
%>

<p><%= username %></p>
<p><%= email %></p> 