<h1>Function</h1>
<%
  function sayHello(name) {
    return "<p>Hello " + name + "</p>";
  }
  
  function printHello(name) {
    return "<p>Hello " + name + "</p>";
  }
%>

<%= sayHello("Michael") %>
<%= printHello("Michaelsss") %> 