<h1>Write File</h1>

<form method="POST" action="/filesystem/writefile">
  <p>Filename: <input type="text" name="filename" value="cities.txt" /></p>
  <p>Content:</p>
  <textarea name="content" rows="4" cols="50">This is my first sentence. And then second sentence.
written at <%= new Date().toLocaleString() %></textarea>
  <br/>
  <button type="submit">Write File</button>
</form>

<% if (message) { %>
  <p><%= message %></p>
<% } %> 