<%- include('partials/header') %>

<h1 class="uk-title">Learn Node.js (Classic ASP Migration)</h1>
<ol>
  <li>Comment (<a href="/basics/comment">demo</a>)</li>
  <li>Conditional (<a href="/basics/conditional">demo</a>)</li>
  <li>Loops (<a href="/basics/loops">demo</a>)</li>
  <li>Array (<a href="/basics/array">demo</a>)</li>
  <li>Function (<a href="/basics/function">demo</a>)</li>
  <li>Variable (<a href="/basics/variable">demo</a>)</li>
  <li>Sending Content (<a href="/sendingcontent/plain">demo</a>)</li>
  <li>Sending Content JSON (<a href="/sendingcontent/json">demo</a>)</li>
  <li>Sending Content XML (<a href="/sendingcontent/xml">demo</a>)</li>
  <li>Redirect to conditional.jsp (<a href="/sendingcontent/redirect">demo</a>)</li>
  <li>Transfer to conditional.jsp (<a href="/sendingcontent/transfer">demo</a>)</li>
  <li>Execute conditional.jsp (<a href="/sendingcontent/execute">demo</a>)</li>
  <li>Form GET (<a href="/forms/get">demo</a>)</li>
  <li>Form GET and Server Validation (<a href="/forms/get-validation">demo</a>)</li>
  <li>Form POST (<a href="/forms/post">demo</a>)</li>
  <li>Form POST and Server Validation (<a href="/forms/post-validation">demo</a>)</li>
  <li>Session - Simple (<a href="/session/simple">demo</a>)</li>
  <li>Session - Login Form (<a href="/session/login">demo</a>)</li>
  <li>File System Object (FSO) (<a href="/filesystem/list">demo</a>)</li>
  <li>Read File (<a href="/filesystem/readfile">demo</a>)</li>
  <li>Write File (<a href="/filesystem/writefile">demo</a>)</li>
  <li>Write File Append(<a href="/filesystem/writefile-append">demo</a>)</li>
  <li>Server Variable (<a href="/server-variable">demo</a>)</li>
  <li>Database Read (<a href="/database/read">demo</a>)</li>
  <li>Database Write (<a href="/database/write">demo</a>)</li>
  <li>Database Update (<a href="/database/update">demo</a>)</li>
</ol>

<%- include('partials/footer') %> 