<h1>Session Login</h1>
<form method="post" action="/session/login">
  <label>Username: <input type="text" name="username" /></label><br />
  <label>Password: <input type="password" name="password" /></label><br />
  <button type="submit">Login</button>
</form> 